<h1>Sign In </h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation %>
    <div>Currently waiting for confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <% if f.object.password_required? %>
  <div>
    <%= f.label :password %> <i>(password)</i><br />
    <%= f.password_field :password, :autocomplete => "off" %>
  </div>

  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <% end %>

<div class="actions"><%= f.submit, "Sign In" %></div>

<%= link_to 'Back', :back %>
<% end %>
