<%= form_for([@article, @comment]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :content, "Write a comment:" %>
    <h6><i>Writing as <%= @comment.commenter_name %></i></h6>
    <%= f.text_area :content, :placeholder => "Write comment here" %>
  </div>
  <% if current_user.editor? %>
    <div class="field">
     <%= f.label :approved %>
     <%= f.check_box :approved %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Create"%>
  </div>
<% end %>
