<section id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>Manda's Articles</h3>
          <hr class="star-primary">
        </div>
      </div>
      <%= link_to 'New article', new_article_path %>

      <ul>
        <% @articles.each do |article| %>
          <li class="article" id="<%= dom_id(article) %>"></li>
            <h4><%= article.title %></h4>
            <div class="nav">
              <%= link_to 'Show', article %> |
              <%= link_to 'Edit', edit_article_path(article) %> |
              <%= link_to 'Delete', article, method: :delete, data: {confirm: 'Are you sure?' } %>
            </div>
          </li>
        <% end %>
      </ul>
      <br />
    </section>
  </div>
</div>
