<section id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>Manda's Articles</h3>
          <hr class="star-primary">
        </div>
      </div>
      <% if ArticlePolicy.new(current_user, @article).create? %>
        <%= link_to 'New article', new_article_path %>
      <% end %>

      <ul>
        <% @articles.each do |article| %>
          <li class="article" id="<%= dom_id(article) %>"></li>
            <h4><%= link_to article.title, article %></h4>
            <div class="nav">
              <% if policy(article).update? %>
                <%= link_to 'Edit', edit_article_path(article) %>
              <% end %>
              <% if policy(article).destroy? %>
                <%= link_to 'Delete', article, method: :delete, data: {confirm: 'Are you sure?' } %>
              <% end %>

          </li>
        <% end %>
      </ul>
      <br />
    </section>
  </div>
</div>
