<h2><%= @project.name %></h2>
<%= image_tag @project.image_url if @project.image? %>
<p>Technologies used: <%= @project.technologies_used %></p>

  <div class="nav">
    <%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Delete', @project, method: :delete, data: {confirm: 'Are you sure?' } %>
  </div>
