<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" align="middle">
                <div class="intro-text">
                    <h2><span class="name">Manda Kom</span></h2>
                    <span class="skills">Rails Web Developer</span>
                    <br/>
                    <img src="<%= asset_url('Flowers.png') %>" width="30%">
                </div>
            </div>
        </div>
    </div>
</header>

<body>

  <%= render 'shared/navigation' %>

  <% flash.each do |key, value| %>
    <div class="alert-box round <%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>


  <div id="main-container" class="container-fluid">
      <div class="row">
        <div id="sidebar" class="col-xs-2 bg-danger">
          <h3>Viu as flores?<br/></h3>
          <h4>Que linda!</h4>
        </div>
        <div id="main-content" class="col-xs-9">
          <%= yield %>
        </div>
      </div>
    </div>

</body>
<footer>
  <h6>Amanda Kom</h6>
</footer>
</html>
