<!DOCTYPE html>
<html>
<head>
  <title class="center-block">Manda Kom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>

  <%= render 'shared/navigation' %>

  <img src="<%= asset_url('Flowers.png') %>" class="flower">

  <div id="main-container" class="container-fluid">
      <div class="row">
        <div id="sidebar" class="col-xs-2 bg-danger">
          <h3>Oi, tudo bem?<br/>Eu sou Manda</h3>
          <h5>Rails Web Developer</h5>
        </div>
        <div id="main-content" class="col-xs-9">
          <%= yield %>
        </div>
      </div>
    </div>

</body>
<footer>
  <h6>Amanda Kom</h6>
</footer>
</html>
